@import "../../assets/variables.scss";

.carrito {
    background-color: white;
    display: flex;
    flex-direction: row;
    .cart {
        color: aliceblue;
        svg {
    
            min-width: 30px;
            min-height: 30px;
        }

    }
    .number {
        color: $pink;
    }

}