@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200;1,300&family=Sintony:wght@400;700&display=swap');
$font-principal: 'Sintony', sans-serif;
$font-text: 'Poppins', sans-serif;

// FONT SIZE
$font-big-titles: 3.1rem;
$font-titles: 2.1rem;
$font-medium: 1.7rem;
$font-base: 1.1rem;
$font-small: 0.8rem;
$font-xsmall: 0.5rem;

// COLORS
$primary: #ffffff;
$primary-shadow: #ffffff85;
$pink: rgb(255, 9, 152);